<div class="iconlink" ng-class="{'high-contrast': accessibilityModeEnabled}">
  <a ng-href="{{::data.href}}" class="top_icon {{::options.class_name}}" target="{{::data.target}}">
    <div class="m-b fa fa-{{::options.glyph}} fa-4x {{::options.class_name}} text-{{::options.color}}"></div>
    <h2>{{::options.title}}</h2>
    <span class="text-danger" style="font-size: 14px;">{{::options.short_description}}</span>
    <span class="text-danger" style="font-size: 14px;" ng-if="options.table_1 != ''">{{::options.tracker_1_name}}&nbsp;<span class="text3" style="
    background-color: #5cb85c;
    border-radius: 100%;
    color: #fff;
    padding: 1px 6px 2px 6px;
    font-weight: bold;
    text-align: center;
    margin-left: 2px;
" ng-if="data.goodcount == 0 && options.table_1 != ''">{{data.goodcount}}</span><span class="text2" style="
    background-color: #d9534f;
    border-radius: 100%;
    color: #fff;
    padding: 1px 6px 2px 6px;
    font-weight: bold;
    text-align: center;
    margin-left: 2px;
" ng-if="data.badcount > 0 && options.table_1 != ''">{{data.badcount}}</span></span>
    <span class="text-danger" style="font-size: 14px;" ng-if="options.table_2 != ''">{{::options.tracker_2_name}}&nbsp;<span class="text3" style="   background-color: #5cb85c;
    border-radius: 100%;
    color: #fff;
    padding: 1px 6px 2px 6px;
    font-weight: bold;
    text-align: center;
    margin-left: 2px;" ng-if="data.requestcount2 == 0 && options.table_2 != ''">{{data.requestcount2}}</span><span class="text2" style="
    background-color: #d9534f;
    border-radius: 100%;
    color: #fff;
    padding: 1px 6px 2px 6px;
    font-weight: bold;
    text-align: center;
    margin-left: 2px;" ng-if="data.requestcount > 0 && options.table_2 != ''">{{data.requestcount}}</span></span>
    </a>
</div>